#artists-items {
    display: none;
}
#artists-items .add-new-item .add-NI-border {
    width: 100%;
    height: 100%;
    margin: 0 18px;
    border: 2.5px dashed #A16A5E;
    display: flex;
    align-items: center;
  }
.add-new-item {
    height: 120px;
    background-color: #FCEBD5;
    display: flex;
    align-items: center;
    margin: 26px 0;
    padding: 11px 0;
    text-decoration: none;
  }
  
  .add-NI-border {
    width: 100%;
    height: 100%;
    
  }
  #artists-items .add-new-item .add-NI-border p {
    margin: 0 auto;
    color: #A16A5E;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
  }